@model PhulkariThreadz.Models.ViewModels.SubCategoryVM

<form method="post">
    <input asp-for="SubCategory.SubCategoryId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Sub Category</h2>
            <hr />
        </div>
        @*  <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="SubCategory.SubCategoryName"></label>
            <input asp-for="SubCategory.SubCategoryName" class="form-control" />
            <span asp-validation-for="SubCategory.SubCategoryName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SubCategory.CategoryId"></label>
            <select asp-for="SubCategory.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="SubCategory.CategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="SubCategory" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
